<?php
/*return array(
    'db' => array(
        'username' => 'root',
        'password' => '',
    )
);*/


return array(
 'db' => array(
    'driver'         => 'Pdo',
     'dbn' => 'mysql:dbname=<dbname>;host=localhost',
     'username' => 'root',
     'password' => '',
     'driver_options' => array(
    PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES \'UTF8\''
 ),
 ),
'service_manager' => array(
'aliases' => array(
'adapter' => 'Zend\Db\Adapter\Adapter',
),
),);